body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  color: #f5f5f5;
}

.topo {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: linear-gradient(135deg, #5f2c82, #49a09d);
  color: white;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

section {
  margin-bottom: 30px;
  background: #111;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
}

.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid white;
}
h3 {
  color: #d18cf0;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.info h1 {
  margin: 0;
}

.info h2 {
  margin: 5px 0 15px;
  font-weight: normal;
}

main {
  padding: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0d0d0d;
  color: #888;
  font-size: 14px;
}


.botoes {
  margin-top: 18px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.botao {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  text-decoration: none;
  background: #1e1e1e;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #333;
  transition: all 0.3s ease;
}

.botao:hover {
  background: #d18cf0;
  color: #000;
  transform: scale(1.05);
}

.inicial {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
.video-apresentacao iframe {
  width: 100%;
  max-width: 350px;
  height: 600px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 10px 25px rgba(209,140,240,0.4);
  display: block;
  margin: 20px 0;
}

.texto {
  font-size: 12px;
  margin-top: 4px;
}

/* Destaque especial do PDF */
.pdf {
  background: #e88fb5;
  color: #2e2e2e;
}

.pdf:hover {
  background: #2e2e2e;
  color: white;
}
